/*réglages flexbox */
body {
  display: flex;
  flex-direction: row;

  font-family: "Nunito";
}
.left {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  margin: 5em;
}
.right {
  display: flex;
  flex-direction: column;
  margin: 5em;
}
/*button {
  background-color: transparent;
  border-color: transparent;
  border-radius: 100%;
}
button:hover {
  border-color: gray;
}*/
/*contenu */
/*header----------------------------------------------------->*/
header {
  display: flex;
  flex-direction: column;
}
/* la ligne avec le logo d l'appli*/
.Patch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: blue;
  color: aliceblue;
}
/* la ligne avec l'icône de réglages */
.réglages {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  background-color: antiquewhite;
}
#set {
  padding-top: 20%;
  padding-bottom: 15%;
}

/* main --------------------------------------------------->*/

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: aquamarine;
  padding: 2%;
  gap: 3%;
  padding-bottom: 15%;
}
#mainLeft {
  display: flex;
  flex-direction: column;
}
#mainRight {
  display: flex;
  flex-direction: column;
}
.homeContainer {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr, 1fr;
}
/*Les numéros correspondent aux grids._______________________________________________>*/
.box {
  border: 1px solid #d9d9d9;
  background: #f2f2f2;
}
.one {
  grid-column: 1/1;
  border-radius: 10% 10% 10% 10% / 10% 10% 10% 10%;
  gap: 3px;
}
.two {
  grid-column: 2/2;
}
.three {
  grid-column: 1/3;
  border-radius: 10% 10% 10% 10% / 20% 20% 20% 20%;
}
.four {
  grid-column: 1/3;
  border-radius: 10% 10% 10% 10% / 20% 20% 20% 20%;
}
.five {
  grid-column: 1/3;
  border-radius: 10% 10% 10% 10% / 20% 20% 20% 20%;
}
.six {
  grid-column: 1/3;
  border-radius: 10% 10% 10% 10% / 20% 20% 20% 20%;
}
/*  footer-------------------------------------------------------->*/
footer {
  background-color: blue;
  display: flex;
  justify-content: center;
}
img {
  width: 40px;
}

button:focus {
  background-color: gray;
}
button {
  background-color: white;
  border-radius: 60%;
  padding: 5px;
  margin: 4px;
  border-color: transparent;
}
