/*réglages flexbox */
body {
  display: flex;
  flex-direction: row;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.left {
  display: flex;
  flex-direction: column;
  margin: 5em;
}
.right {
  display: flex;
  flex-direction: column;
  margin: 5em;
}

/*contenu */
/*header----------------------------------------------------->*/
header {
  display: flex;
  flex-direction: column;
  background-color: #e9dcfc;
}
/* la ligne avec le logo d l'appli*/
.Patch {
  display: flex;
  background-color: #465dc0;
  border-radius: 10px;
}
/* la ligne avec l'icône de réglages */
.réglages {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}
#nuit {
  display: flex;
  background-color: white;
}

/* main --------------------------------------------------->*/

#mainLeft {
  display: flex;
  flex-direction: column;
}
#mainRight {
  display: flex;
  flex-direction: column;
}
.gridContent {
  display: grid;
  grid-template-rows: 1fr, 1fr;
  grid-template-columns: 1fr, 1fr;
}
.mainContent {
  background-color: #e9dcfc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2%;
  gap: 3%;
  position: relative;
}
.mainContent > div {
  width: 230px;
  height: 230px;
  overflow-y: auto;
}
/*Les numéros correspondent aux grids._______________________________________________>*/
.box {
  border: 1px solid #d9d9d9;
  background: #f2f2f2;
  padding: 2%;
  border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
}
.one {
  grid-column: 1/1;
}
.two {
  grid-column: 2/2;
}
.three {
  grid-column: 1/3;
}
.four {
  grid-column: 1/3;
}
.five {
  grid-column: 1/3;
}
.six {
  grid-column: 1/3;
}
/*  footer-------------------------------------------------------->*/

footer {
  position: relative;
}
.footerGrid {
  background-color: #465dc0;
  display: flex;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 3px;
  gap: 0;
}
.footerTop {
  position: absolute;
  top: -10px;
  width: 100%;
  height: 10px;
  background-color: #e9dcfc;
}
.footerBottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 23px;
  background-color: white;
}
#ambulance {
  grid-column: 1/1;
}
#user {
  grid-column: 2/2;
}
#home {
  grid-column: 3/3;
}
#texts {
  grid-column: 4/4;
}
#health {
  grid-column: 5/5;
}

img {
  width: 40px;
}

.footerGrid button {
  background-color: transparent;
  border: none;
  border-top-width: medium;
  border-top-style: none;
  border-top-color: currentcolor;
  position: relative;
  border-top: 10px solid transparent;
  position: relative;
  top: -23px;
  cursor: pointer;
}

.footerGrid button.active {
  z-index: 2;
}

.button {
  background-color: #e9dcfc;
  border-radius: 50%;
  border-color: transparent;
  margin-bottom: 2%;
  width: 50px;
  height: 50px;
  z-index: 1;
  border: 10px solid #465dc0;
}
.button > img {
  width: 35px;
  padding: 5px;
}

.button-set {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#form {
  position: absolute;
  bottom: 25px;
}

#messages {
  height: 190px;
  overflow: auto;
  margin: 0;
  list-style: none;
  padding-left: 0;
}
/*_____________Design Responsive __________________________*/

/* For desktop: */
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
